<server description="Sample Liberty server">

  <!-- Enable features -->
  <featureManager>
    <feature>jsp-2.3</feature>
  </featureManager>

  <!-- tag::server[] -->
  <!-- To access this server from a remote client add a host attribute to the following
    element, e.g. host="*" -->
  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
    id="defaultHttpEndpoint" />

  <enterpriseApplication id="io.openliberty.guides.multimodules.ear"
    location="io.openliberty.guides.multimodules.ear-0.0.1-SNAPSHOT.ear" name="io.openliberty.guides.multimodules.ear" />
  <!-- end::server[] -->
</server>
